a {
  text-decoration: none;
  color:black;
}

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}

.bg {
  /* The image used */
  /*background-image: url("../background.jpg")  repeat-x;*/
  background: url("../background.jpg")  repeat-x;
   background-repeat:repeat;*/
   /*background-color:#5286F3;*/
    font-size:14px;
    
 
  
  /* Full height */
  /*height: 150%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
 background-size: cover;
}
table {
    table-layout: fixed;
    width: 100%;   
}
th,td {
    /*border-style: solid;*/
    border-width: 0px;
    /*border-color: #BCBCBC;*/
    word-wrap: break-word;
}
body {
  height: 100%;
  margin: 0;
  family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  margin: 0;
}

.form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  border: none;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  direction:rtl;
  text-align:center;
  color:white;
}

span.psw {
  float: left;
  padding-top: 0px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 380px) {
  span.psw {
     display: block;
     float: none;
     text-align:center;
  }
  .cancelbtn {
     width: 100%;
  }
  .center {
  width: 90%;
  }
}